{#
  Create the Spreaker embeded  player.
#}
{{ attach_library('spreaker/spreaker_widget') }}

{# Embeded player. #}
{% if spreaker_episode_id %}
  <a class="spreaker-player" href="https://www.spreaker.com" data-resource="{{ 'episode_id=' ~ spreaker_episode_id }}" data-width="100%" data-height="200px">
    Listen to my podcast
  </a>
{% endif %}
